language: go

go:
    - 1.3
    - tip

install:
  - make dep
  - go get code.google.com/p/go.tools/cmd/vet || go get golang.org/x/tools/cmd/vet

script: ./misc/check-style.sh && godep go test -v ./...

